body{
  font-family:serif;
 
  color:#c5c6c7;
  font-size:20px;
}


footer{
  color: white ;
  display:inline-block;
  width:100%;
  text-align:center;
}

form{
  background:#D3D3D3;
  width:400px;
  margin:auto;
  padding:20px;
  border-radius:5px 5px 5px 5px;
  border:2px solid #5A5A5A;
 
  height:100%;
  color:black;
  margin-bottom:50px; 

}


label{
  display:inline-block;
  width:100%;
}

h1{
  margin:auto;
  text-align:center;
  color:black;
  letter-spacing:2px;
  width:400px;
  padding:10px;
  border-bottom:1px solid ;
}
p{
  text-align:center;
  width:600px;
  margin:auto;
  padding:10px;
  color:gray;
  margin-bottom:0px;
  margin-top:20px;
  
}

input{
  text-align:center;
  margin:20px;
  align:center;
  
}

.name{
 display:block;
 margin:auto;
 padding:5px;
 margin-top:0px;
 width:95%;
 border-radius:7px;
 border:2px solid #5A5A5A;
 background:white;
 text-align:left;
 font-size:15px;
 font-family:serif;
 
}

.email{
 display:block;
 margin:auto;
 padding:5px;
 margin-top:0px;
 width:95%;
 border-radius:7px;
 border:2px solid #5A5A5A;
 background:white;
 text-align:left;
 font-size:15px;
 font-family:serif;
}


#number{
 display:block;
 margin:auto;
 padding:5px;
 margin-top:0px;
 width:95%;
 border-radius:7px;
 border:2px solid #5A5A5A;
 background:white;
 text-align:left;
 font-size:15px;
 font-family:serif;
 

}


#dropdown{

  display:block;
 margin:auto;
 padding:5px;
 margin-top:0px;
 width:95%;
 border-radius:7px;
 border:2px solid #5A5A5A;
 background:white;
 text-align:left;
 font-size:15px;
 font-family:serif;
 color:gray;
}


#name-p{
  text-align:left;
  margin-top:20px;
  font-size:20px;
  color:black;
}

#email-p{
  text-align:left;
  margin-top:20px;
  font-size:20px;
  color:black;
}
#age-p{
  text-align:left;
  margin-top:20px;
  font-size:20px;
  color:black;
}

#gender-p{
  text-align:left;
  margin-top:20px;
  font-size:20px;
  color:black;
}

#recc-p{
  text-align:left;
  margin-top:30px;
  font-size:20px;
  padding-bottom:0px;
  color:black;
}

a{
  color:black;
  text-decoration:none;
}

textarea{
  display:block;
 margin:auto;
 padding:5px;
 margin-top:10px;
 width:95%;
 border-radius:5px;
 border:2px solid #5A5A5A;
 background:white;
 text-align:left;
 font-size:15px;
 font-family:serif;
}


#submit{
   display:block;
 margin:auto;
 padding:5px;
 margin-top:40px;
 margin-bottom:20px;
 width:95%;
 border-radius:5px;
 border:1px solid BLACK;
 background:#3BB143;
 text-align:CENTER;
 font-size:20px;
 font-family:serif;
 color:white;
}