body{
    font-family:sans-serif;
    display:flex; 
    flex-direction:row;  
}


footer{
  color: white ;
  display:inline-block;
  width:100%;
  text-align:center;
}

#navbar{
     
    width:20%;
    height:100vh;
    border:2px solid gray;
    position: fixed;
    top:0;
    left:0;
    

    
}

#main-doc{
    width:70%;
    height:100vh;
    position:relative;
    left:25%;
    
    font-size:20px;
    color:gray; 
}

header{
    font-size:30px;
     font-weight:bold;
     padding:30px;
     padding-left:5px;
     color:black; 
      
}



.nav-link{
    display:flex;
    flex-direction:row;
    text-decoration:none;

    
    height:40px;
    border-bottom:1px solid gray;
    border-top:1px solid gray;
    position:relative;
     
   


}

nav > #ul-navbar{
    list-style-type:none;
    text-decoration:none;
    color:black;
    font-size:20px;
    
    padding:50px;
     padding-left:0;
    padding-bottom:none; 
    text-align:left;
    width:100%;  
}

a{
    color:black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;

}


@media only screen and (max-width: 1100px) {
  #navbar {
    display:none; 
  }
}








